doctype html
html
  head
    title prabhat dance academy
    style
      include ../static/style.css
  body
    nav#navbar 
        ul#navigation 
            div#logo
                img(src="/static/1.png")
                | HDA
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") service ]
            li #[a(href="/") Contact Info]
            li #[a(href="/") Contact Us]
            input(class='form-control', type='text', id='search' placeholder='search....')

    section#introsection
        div Dance is the hidden language of the soul 
        div Keep Calm And Hip Hop
      
    section#sponsor
        h2 Our Mission
        div.container1
            div.container  
                p dance perfection
                //- div#logo1
                img(src="/static/2.png")
             
            
            div.container
                p dance the way you like
                //- div#logo1
                img(src="/static/2.png")
               
            div.container
                p perfect teaching    
                //- div#logo1
                img(src="/static/3.png")
               
    section#sponsorsection 
        h2  our sponsor
        div.spon
             img(src="/static/apple.png")
             img(src="/static/facebook.png")
             img(src="/static/instagram.png")
             img(src="/static/microsoft.png")
             img(src="/static/linkedin.png")
             img(src="/static/skype.png")
             img(src="/static/hp.png")
    
    footer#footer 
        div.foot
            p copyright @2022 PrabhatDanceAcademy.com |All right reserved

    script
      include ../static/index.js