body{  
     /* background-color: aqua; */

}

.container{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 650px;
   
 
    background: no-repeat center/100% url("/static/prabhat.jpg");
    opacity: 0.9;

}
 
.input {
    display: flex;
    text-align: center;
    margin-left: 32%;
    width: 36%;
    padding: 13px;
    margin-top: 3px;
    border-radius: 23px;
    border: 2px solid #80004b;
    background-color: #caf0d6;
  
   
 }
 .input:hover{
    cursor: pointer;
    background-color: yellow;
 }
.container h1{
    text-align: center;
    color: white;
    font-size: 35px;
}
#btn{
 
    display: block;
    margin-left: 652px;
    width: 10%;
    padding: 9px;
    text-align: center;
    align-items: center;
}